# ── Auth / JWT ──────────────────────────────────────────────────
SERVICE_SECRET=dev_DHIODJ2732UHdjoisdjffdsfsdfD9SUJDI

# ── CENTRAL API ──────────────────────────────────────────────────
CENTRAL_URL=http://localhost:5002

# ── PORT ────────────────────────────────────────────────────────
PORT=5100

# ── ENV ────────────────────────────────────────────────────────
ENV=development